<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Gara_Manage.Properties.Settings.GARAOTOConnectionString"
            connectionString="Data Source=127.0.0.1;Initial Catalog=GARAOTO;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup>
</configuration>
